html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Mate SC", serif;
  line-height: 1.6;
  height: 100vh;
}
.container {
  width: 100%;
  height: 100%;
}
.navbar {
  position: fixed;
  width: 100%;
  background: #294894;
  overflow: hidden;
  top: 0;
  height: 90px;
}
.navbar ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: right;
  font-size: 20px;
}
.navbar ul li {
  margin: 0 1rem;
  padding: 1rem;
  position: relative;
}
.navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffff;
}
.navbar ul li::after {
  content: "";
  height: 3px;
  width: 0%;
  background: #ffffff;
  position: absolute;
  left: 10px;
  bottom: 10px;
  transition: 0.4s;
}

.navbar ul li:hover::after {
  width: 80%;
}

section {
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center;
  text-align: center; */
  width: 100%;
  height: 100vh;
  margin-bottom: 10px;
}
section h1 {
  font-size: 4rem;
}

#home {
  background: url(src/skyline.jpg) no-repeat center center/cover;
  align-items: center;
  justify-content: center;
}

#logo {
  margin-top: -85px;
}
#about-us {
  background: url(src/table.jpg) no-repeat center center/cover;
  color: rgb(255, 255, 255);
}

#about-us h1 {
  margin-top: 270px;
  margin-bottom: 0;
  font-size: 90px;
  color: #294894;
  text-align: center;
}
#about-us p {
  display: block;
  text-align: center;
  font-size: 30px;
  color: #ffff;
  font-weight: 800;
  margin: 0 311px 50px 300px;
}
#dre-number {
  text-align: center;
}

#contact-us h1 {
  color: #294894;
  font-weight: 900;
  text-align: center;
}
.social-logos {
  display: inline-block;
  align-items: center;
}
#reach-out {
  text-align: center;
  font-size: 27px;
}
#reach-out span {
  font-weight: 800;
}
footer {
  text-align: center;
}
